@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: azure;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,70,121,1) 0%, rgba(0,212,255,1) 100%);
}
.container-fluid{
    text-align: center;
}